pyrogram==2.0.30
tgcrypto==1.2.5
aiofiles==22.1.0
aiohttp==3.8.3
requests
openai==0.28
bs4==0.0.1
pytz
beautifulsoup4
telegraph==2.2.0
pymongo==4.4.1
dnspython==2.3.0
marshmallow==3.20.1
umongo==3.1.0
motor
speedtest
python-dateutil
datetime>=4.4
psutil==5.9.4
asyncio
yt_dlp
youtube-dl
chardet
pycryptodomex
six
spotipy
spotdl
instaloader
scdl
tqdm
ujson
wget
pytz
spotipy
deezer-python 
Shazamio
pafy
pydub==0.25.1
ffmpeg==1.4
asyncio
pytube
youtube-search
spotdl
Pillow
wget
discord
moviepy==1.0.3
pydub
